.hover-shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.list-group::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.list-group::-webkit-scrollbar {
  width: 5px;
}
.list-group::-webkit-scrollbar-thumb {
  background: #98863d;
  border-radius: 10px;
}

.header-footer-color{
  background-color: #98863d;
}

.modal{
  background-color: rgba(0,0,0,0.6);
  z-index: 1050;
}